#videoElement, #mirrored {
	width: 500px;
	height: 375px;
	background-color: #666;
  display: inline-block;
}

html, body{
	width: 100%;
	height: 100%;

}

.study_func{
	display: flex;
	justify-content: center;
	align-items: center;
  	gap: 3rem;
	flex-direction: column;
}